*{
    color: blue;
    margin: 0;
}

body{
    background-color: pink;
}

#relativo{
    position: relative;
    top:20px;
    left: 30px;
}

#absolute{
    position: absolute;
}

#fixed{
    position: fixed;
    z-index: 10;
    top:100px;
    background: red;
}

#contenedor{
    background: white;
    margin:20px;
}